[submodule "notebook-java-network-sample-tcpclientserver"]
	path = notebook-java-network-sample-tcpclientserver
	url = git@github.com:ebpro/notebook-java-network-sample-tcpclientserver.git
[submodule "notebook-java-rest-sample-jakartarestfull"]
	path = notebook-java-rest-sample-jakartarestfull
	url = git@github.com:ebpro/notebook-java-rest-sample-jakartarestfull.git
[submodule "_quarto-utils"]
	path = _quarto-utils
	url = git@github.com:ebpro/_quarto-utils.git
[submodule "notebook-java-rest-sample-quarkus"]
	path = notebook-java-rest-sample-quarkus
	url = git@github.com:ebpro/notebook-java-rest-sample-quarkus.git
